
extends layout

block prepend title
  | #{ page.title } - 

block content
  include author

  #header
    -var x = "&nbsp;"
    span.aut= page.date.toDateString()
    h1= page.title
    br

    tags = page.metadata.tags
    mixin tags(tags)

  article.post
    section.content!= page.html
