//- Include some mixins

include tags
include sidebar

//- The page

!!! 5
html(lang='en')
  head
    block new-meta
    
    block head
      title
        block title
          = locals.name
  

    script(src='/css/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.js')

    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css', type='text/css', media='screen, projection')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', type='text/css', media='screen, projection')
    link(rel='stylesheet', href='/css/reset.css', type='text/css', media='screen, projection')

    link(rel='stylesheet', href='/css/screen-dark.css', type='text/css', media='screen, projection')

    block game-stuff

  body

   #wrapper
      #contentwrapper
        block outercontent
          #content
            block content
              h2 Welcome to zombocom!

         
