extends layout

block content
  include author
  include getarticles
  include articleheader

  mixin tags

  each article in articles
    article.post
      mixin articleheader(article)

      section.content!= article.intro
      if article.hasMore
        p.read-more
          a(href=article.url) read more
       hr

  a(href='archive.html')#archive Visit the archives!
