extends layout

block new-meta
  include getarticles
  - if (articles.length > 0 )

   meta(property='og:title', content= articles[0].title)
   meta(property='og:url', content= locals.url + articles[0].url)
   -if (articles[0].metadata.img)
     meta(property='og:image', content= articles[0].metadata.img)

block content
  include getarticles
  include author
  include articleheader

  mixin tags

  each article in articles
    article.post
      mixin articleheader(article)
 
      section.content!= article.intro

      if article.hasMore
        p.read-more
          a(href=article.url) read more
       hr

  a(href='archive.html')#archive Visit the archives!
