extends layout

block content
  include author
  include getarticles

  mixin tags

  each article in articles
    article.post
 
      header
        br
        span.aut= article.date.toDateString()

        h1
          a(href=article.url)= article.title
          mixin tags(article.metadata.tags)

      section.content!= article.intro
      if article.hasMore
        p.read-more
          a(href=article.url) read more
       hr

  a(href='archive.html')#archive Visit the archives!
