//- Include some mixins

include tags
include sidebar

//- The page

!!! 5
html(lang='en')
  head
    block new-meta
    
    block head
      meta(charset='utf-8')
      meta(property="og:site_name", content=locals.name)
      meta(property="og:type", content="blog")
      meta(property="og:description", content=locals.description)
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      title
        block title
          = locals.name
  
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css', type='text/css', media='screen, projection')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', type='text/css', media='screen, projection')
    link(rel='stylesheet', href='/css/reset.css', type='text/css', media='screen, projection')
    link(rel='stylesheet', href='/lightview/css/lightview/lightview.css')
    link(rel='stylesheet', href='/scss/main.css', type='text/css', media='screen, projection')
    link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700', rel='stylesheet', type='text/css')

    block game-stuff

  body

   #wrapper
      #contentwrapper
        mixin topbar()
        mixin sidebar()
        block outercontent
          #content
            block content
              h2 Welcome to zombocom!

  script(src='/css/jquery.min.js')
  script(src='/lightview/js/spinners/spinners.min.js')
  script(src='/lightview/js/lightview/lightview.js')
  script(src='/bootstrap/js/bootstrap.js')
  script(src='/scripts/misc.js')
  script(src='/google-code-prettify/run_prettify.js')
  script(src='/scripts/disquscommentcount.js')
