#nav
  h1
    a(href='/') gaz liddon zeropager

  ul
    li
      a(href='http://www.ruffiangames.com') ruffian

    li
      a(href='/archive') archive

    li
      a(href='uk.linkedin.com/pub/gary-liddon/0/840/792') about

    li
      a(href='https://github.com/gazliddon/personalblog') website source

  ul.info
    li
      | facebook:
      a(href='http://www.facebook.com/gazliddon') gazliddon
    li
      | soundcloud:
      a(href='http://www.soundcloud.com/gyratory') gazliddon
    li
      | flickr:
      a(href='http://www.flickr.com/photos/gyratory') gazliddon
    li
      | github:
      a(href='http://github.com/gazliddon') gazliddon
    li
      | twitter:
      a(href='http://twitter.com/gyratory') gyratory
    li
      | email: gaz[at]gazaxian.com

