mixin serviceIcon(file, url )
  - var norm =  "/images/icons/" + file + "-logo.png"
  a(href=url).bwfade
    img( src = norm)

#nav
  
  h1
    a(href='/') gaz liddon zeropager


  #services
    div
      mixin serviceIcon("rss",        "/feed.xml")
      mixin serviceIcon("facebook",   "https://www.facebook.com/gazliddon")
      mixin serviceIcon("gplus",      "https://plus.google.com/105572989283882496222/posts")
      mixin serviceIcon("soundcloud", "https://soundcloud.com/gyratory")
      mixin serviceIcon("twitter",    "https://twitter.com/gyratory")
      mixin serviceIcon("flickr",     "http://www.flickr.com/photos/gyratory")
      mixin serviceIcon("github",     "https://github.com/gazliddon")
      mixin serviceIcon("linkedin",   "http://www.linkedin.com/pub/gary-liddon/0/840/792")
      mixin serviceIcon("fitocracy",  "https://www.fitocracy.com/profile/gazliddon/?feed")
  


